<!DOCTYPE HTML>
<html>
	<head>
		<title>Hydroponics using Arduino</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/font-awesome.min.css">
		<link rel="stylesheet" href="assets/css/main.css" />
	    <link rel="stylesheet" href="assets/css/normalize.min.css">
	    <link rel="stylesheet" href="assets/css/style.css">
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
    </head>
    
    <body class="is-preload">
            <div id="wrapper">
					<header id="header">
						<div class="logo">
							<span class="icon fa fa-tree"></span>
						</div>
						<div class="content">
							<div class="inner">
								<h1>Hydroponics</h1>
								<p>An automated Arduino-based Hydroponics system.</p>
							</div>
						</div>
						<nav>
							<ul>
								<li><a href="#intro">Intro</a></li>
								<li><a href="#work">Work</a></li>
								<li><a href="#about">About</a></li>
								<li><a href="#join_us">Join Us</a></li>
							</ul>
						</nav>
					</header>

    </body>
</html>